---
---
body 
{
  margin:0;
  color: #f2f2f2 !important;
  background-color: #3f3d3d;
}

.no_text_decoration
{
  text-decoration: none; 
  color: #f2f2f2;
}

.navbar_title
{
  margin-top: 16px;
  margin-left: 16px;
}

.navbar {
  overflow: hidden;
  background-color: #0f0f0f;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

.main {
  padding: 5px;
  margin-top: 78px;
  margin-left: 160px;
}

.blog_post {
  background: #b4aeae;
  max-width: 500px;
  border-radius: 10px;
  position: relative;
  margin: 20px;
}

.container_copy {
  padding: 2rem 2rem 2rem 2rem;
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}


